body {
    background-color: #1c1e3b;
}

.hi{
  position: relative;
  top: 10%;
  color: #ffffff;
  text-align: center;
  font-size: 200px;
}

.socials{
  font-size: 25px;
  background-color: #3a3c5e;
  text-align: center;
  position: fixed;
  color: #ffffff;
  width: 100%;
  height: 3%;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 5px;
  padding-right: 5px;
}


.text{
  position: relative;
  top: 10000px;
  color: #ffffff;
}
